<div>
    <label>Title</label>
    <input type = "text" name = "title" value = "<%= album.title %>">
</div>

<div></div>
    <label>Artist</label>
    <select name = "artist">
    <% artists.forEach(artist => { %>
        <% if (artist.id === album.artist) { %>
            <option selected label = "<%= artist.name %>" value="<%= artist.id %>">
            <% }else{ %>
            <option label = "<%= artist.name %>" value="<%= artist.id %>">
            <% } %>
    <%  }) %>
    </select>
</div>

<div>
    <label>Release Date</label>
    <input type = "date" name = "releaseDate" 
        value = "<%= album.releaseDate == null ? '' : album.releaseDate.toISOString().split('T')[0] %>">
</div>

<div>
    <label>Tracks</label>
    <input type = "number" name = "length" value = "<%= album.length %>">
</div>

<div>
    <label>Cover</label>
    <input type = "file" name = "cover">
</div>

<div>
    <label>Notes</label>
    <textarea type = "notes" name = "cover"><%= album.notes %></textarea>
</div>