<h2>Search Albums</h2>
<form action = "/albums" method="GET">
    <div>
        <label>Title</label>
        <input type = "text" name = "title" value = "<%= searchOptions.title %>">
    </div>
    <div>
        <label>Released After</label>
        <input type = "date" name = "releasedAfter" value = "<%= searchOptions.releasedAfter %>">
    </div>
    <div>
        <label>Released Before</label>
        <input type = "date" name = "releasedBefore" value = "<%= searchOptions.releasedBefore %>">
    </div>
<button type = "submit">Search</button>
</form>
<div>
<% albums.forEach(album => { %>
    <a href="/albums/<%= album.id %>">
    <img height = "150" width = "150" src = "<%= album.coverImagePath %>">
    </a>
<% }) %>
</div>