<h2><%= album.title %></h2>
<img width="150" height="150" src="<%= album.coverImagePath %>">
<div>Artist: <%= album.artist.name %></div>
<div>Release Date: <%= album.releaseDate.toDateString() %></div>
<div>Tracks: <%= album.length %></div>
<div>Notes: <%= album.notes %></div>

<a href="/albums/<%= album.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/albums/${album.id}` }) %>
<a href="/artists/<%= album.artist.id %>">View Artist</a>