<h2 class="page-header"><%= artist.name %></h2>
<div class="btn-row">
  <a class="btn btn-primary" href="/artists/<%= artist.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm',
              { url: `/artists/${artist.id}` }) %>
</div>
<% if (albumsByArtist.length > 0) { %>
  <h2 class="page-header">Albums By Artist</h2>
  <% albumsByArtist.forEach(album => { %>
    <a href="/albums/<%= album.id %>">
      <img height="300" width="300" src="<%= album.coverImagePath %>">
    </a>
  <% }) %>
<% } %>